/* Navigation Bar */

.navbar {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: black;
}
.navbar a {
    text-decoration: none;
    color: inherit;
}

/* does navbar-brand do anything? */
.navbar-brand { 
    font-size: 1.2em;
    font-weight: 600;
    padding: 10px 0px 10px 0px;
}

/* does navbar-item do anything? */
.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

/* Body Content, below navbar */

.body-content {
    padding: 5px;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 10px;
    text-align: center;
}

li a:hover {
    color:aqua;
}

.center-home, p, title, div {
    text-align: center;
}

button {
    margin: 5 px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

input {
    margin: 5px;
}

.login {
    text-align: center;
    width: 30%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.createaccount {
    text-align: center;
    width: 50%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.viewaccount {
    margin-left: auto;
    margin-right: auto;
}