/* Navigation Bar */

.navbar {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: black;
    height: 3rem;
}
.navbar a {
    text-decoration: none;
    color: inherit;
}

/* does navbar-brand do anything? */
/* .navbar-brand { 
    font-size: 1.2em;
    font-weight: 600;
    padding: 10px 0px 10px 0px;
} */

/* does navbar-item do anything? */
/* .navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
} */

/* Body Content, below navbar */

body {
    padding: 5px;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 10px;
    text-align: center;
}

li a:hover {
    color:aqua;
}

section {
    margin: 0 auto; /* makes it center */
}

button {
    margin: 5 px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

input {
    margin: 5px;
    width: 100%;
    height: 2em;
}

.inline {
    width: unset;
    vertical-align: middle;
}

.login {
    text-align: center;
    width: 30%;
    max-width: 300px;
    margin: 0 auto;
}

.createaccount {
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
}

fieldset {
    border: none;
    border-bottom: 1px solid black;
}

fieldset:last-of-type {
    border: none;
}

legend {
    text-align: center;
}

.viewaccount {
    margin-left: auto;
    margin-right: auto;
}

/* Footer */
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem; /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; /* Footer height */
}