{% extends "layout.html" %}
{% block title %}
Create Account
{% endblock %}
{% block content %}
<section class="createaccount">
    <form method="post" action="/create_account/">
        <fieldset>
            <legend>Fill in the information below to create an account</legend>
            <label for="fname">First Name *
                <input type="text" name="fname" id="fname" placeholder="Enter first name" required>
            </label>
            <label for="lname">Last Name *
                <input type="text" name="lname" id="lname" placeholder="Enter last name" required>
            </label>
            <label for="usrname">Username *
                <input type="text" name="usrname" id="usrname" placeholder="Create username" required>
            </label>
            <label for="psword">Password *
                <input type="password" name="psword" id="psword" placeholder="Create password" pattern="(?=.*\d)(?=.*[\.\!\#\$\*\@]).{10,}" required>
                <p>Your password should be at least 10 characters, include numbers and special symbols (. ! # $ * @).</p>
            </label>
            <label for="togglepassword" class="inline">
                <input class="inline" type="checkbox" id="togglepassword" onclick="togglePassword()">Toggle Password
            </label>
        </fieldset>
        <fieldset>
            <label for="favnum">Favorite Number *
                <input type="number" name="favnum" id="favnum" placeholder="Enter favorite Number" required>
            </label>
            <label for="favelement">Favorite Element *
                <input type="text" name="favelement" id="favelement" placeholder="Enter favorite Element" required>
            </label>
            <label for="email">Email *
                <input type="email" name="email" id="email" placeholder="Enter email" required>
            </label>
            <label for="currentmood">Current Mood
                <input type="text" name="currentmood" id="currentmood" placeholder="Enter current Mood">
            </label>
            <button type="submit" name="createaccount" id="createaccount" value="createaccount">Submit</button>
        </fieldset>
    </form>
</section>
{% endblock %}