{% extends "layout.html" %}
{% block title %}
Create Account
{% endblock %}
{% block content %}
<header>
    <p>Create Account: Deliverable for Eddy, September 19, 2023</p>
</header>
<section class="createaccount">
    <fieldset>
        <legend>Fill in the information below to create an account</legend>
        <form method="post" action="/create_account/">
            <input type="text" name="fname" placeholder="First name">
            <input type="text" name="lname" placeholder="Last name"><br><br>
            <input type="text" name="usrname" placeholder="Username">
            <input type="password" name="psword" id="psword" placeholder="Password"><br>
            <input type="checkbox" onclick="togglePassword()">Toggle Password<br><br>
            <input required type="number" name="favnum" placeholder="Favorite Number">
            <input required type="text" name="favelement" placeholder="Favorite Element"><br><br>
            <input type="email" name="email" placeholder="Email">
            <input type="text" name="currentmood" placeholder="Current Mood"><br><br>
            <button type="submit" name="createaccount" value="createaccount">Submit</button>
        </form>
    </fieldset>
</section>
{% endblock %}