{% extends "layout.html" %}
{% block title %}
Login to Your Account
{% endblock %}
{% block content %}
<section class="login">
    <form method="post" action="profile.html"> <!-- login_account.html -->
        <fieldset>
            <legend>Login or <a href="{{ url_for('create_account') }}">Create an Account</a></legend>
            <input required type="text" name="usernameemail" id="usernameemail" placeholder="Username or Email"><br>
            <input required type="text" name="psword" id="psword" placeholder="Password"><br>
            <button type="submit" name="login" value="login">Login</button>
        </fieldset>
    </form>
</section>
{% endblock %}