{% extends "layout.html" %}
{% block title %}
Your Profile
{% endblock %}
{% block content %}

<head>
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Tangerine">
    <style>
        favnum {
            font-family: 'Tangerine', serif;
            font-size: 48px;
        }
    </style>
</head>

<title>user's Profile</title>

Favorite Element
Unsplash Image<br>
<img src="{{ elementurl }}" alt="Unsplash Image of {{ elementurl }}" width="400"><br>
Favorite Number<br>
<div class="favnum" style="font-family: 'Tangerine', serif; font-size: 100px;">3 {{ favnum }}</div>

<div>
    <form method="post" action="profile.html">
        <button type="submit">Delete Account</button>
    </form>
</div>

{% endblock %}