{% extends "layout.html" %}
{% block title %}
View Account Results
{% endblock %}
{% block content %}
<head>
    <style>
        p {text-align: center;}
        button {text-align: center;}
        div {text-align: center;}
    </style>
</head>

<body>
    <Title>View Account Results</Title>
    <p>View Account Results</p>
    <p>Below is the entire database.</p>
    <!--error-->
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}</p>
    {% endif %}
    <!--flash-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <p><strong>{{ messages }}</strong></p>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <br>
    <table style="border: 1px solid black;">
        <th>Primary ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Password</th>
        <th>Favorite Number</th>
        <th>Favorite Element</th>
        <th>Email Address</th>
        <th>Current Mood</th>
    {% for row in results %}
        <tr style="border: 1px solid black;">
        {% for element in row %}
            <td>
                {{ element }}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
    
    <a href="{{ url_for('create_account') }}">Return to Create Account</a>
</body>
{% endblock %}