{% extends "layout.html" %}
{% block title %}
View Account Results
{% endblock %}
{% block content %}
<head>
    <style>
        p {text-align: center;}
        button {text-align: center;}
        div {text-align: center;}
    </style>
</head>

<body>
    <Title>View Account Results</Title>
    <p>View Account Results</p>
    <p>Below is the account details we have recorded.</p>
    <!--error-->
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}</p>
    {% endif %}
    <!--flash-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <p><strong>{{ messages }}</strong></p>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {{ results }} <br>
    
    <a href="{{ url_for('create_account') }}">Return to Create Account</a>
</body>
{% endblock %}